nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: #222;

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 8px;
      background-color: #222;
      text-decoration: none;
      color: #ddd;
    }

    a:hover {
      background-color: #ddd;
      color: #222;
    }
  }
}
