div.grid-container.conditions
  div.row
    div.col-4.conditions-panel
      div.row
        div.col-8
          label Located:&nbsp;
          span(ng-bind="(location.city) + ', ' + (location.state) + ' ' + (location.zip)")
      div.row
        div.col-8.temperature
          span(ng-bind="(conditions.degF) + ' °F'")
      div.row
        div.col-8
          label Currently:&nbsp;
          span(ng-bind="conditions.condition")
    div.col-4.conditions-panel
      div.row
        div.col-8
          label Pressure:&nbsp;
          span(ng-bind="(conditions.pressureInHg) + ' inHg ' + (conditions.pressureTrend)")
      div.row
        div.col-8
          label Wind:&nbsp;
          span(ng-bind="(conditions.windDir) + ' ' + (conditions.windMph) + ' MPH'")
      div.row
        div.col-8
          label Humidity:&nbsp;
          span(ng-bind="conditions.relativeHumidity")
      div.row
        div.col-8
          label Dew Point:&nbsp;
          span(ng-bind="(conditions.dewpointF) + ' °F'")
      div.row
        div.col-8
          label Visibility:&nbsp;
          span(ng-bind="(conditions.visibilityMi) + ' mi.'")
      div.row
        div.col-8
          label Rainfall:&nbsp;
          span(ng-bind="(conditions.precipitationIn) + ' in'")
