div
  p
    label(for="CurrentCondition") Currently:&nbsp;
    span(id="CurrentCondition" ng-bind="conditions.condition")
  p
    label(for="Temperature") Temperature:&nbsp;
    span(id="Temperature" ng-bind="(conditions.degF) + ' °F'")
  p
    label(for="WindSpeed") Wind Speed:&nbsp;
    span(id="WindSpeed" ng-bind="(conditions.windMph) + ' MPH'")
  p
    label(for="WindDirection") Wind Direction:&nbsp;
    span(id="WindDirection" ng-bind="conditions.windDir")
  p
    label(for="BarometricPressure") Barometric Pressure:&nbsp;
    span(id="BarometricPressure" ng-bind="(conditions.pressureInHg) + ' inHg'")
  p
    label(for="PressureTrend") Trend:&nbsp;
    span(id="PressureTrend" ng-bind="conditions.pressureTrend")
  p
    label(for="RelativeHumidity") Relative Humidity:&nbsp;
    span(id="RelativeHumidity" ng-bind="conditions.relativeHumidity")
  p
    label(for="DewPoint") Dew Point:&nbsp;
    span(id="DewPoint" ng-bind="(conditions.dewpointF) + ' °F'")
  p
    label(for="HeatIndex") Heat Index:&nbsp;
    span(id="HeatIndex" ng-bind="(conditions.heatIndexF) + ' °F'")
  p
    label(for="Visibility") Visibility:&nbsp;
    span(id="Visibility" ng-bind="(conditions.visibilityMi) + ' mi.'")
  p
    label(for="TotalPrecipitation") Total Precipitation:&nbsp;
    span(id="TotalPrecipitation" ng-bind="(conditions.precipitationIn) + ' in'")
