div(ng-controller='HomeCtrl')
  div(class='input')
    div(class='warnings')
    b
      label(for='zipCode') Zip Code:
    input(id='zipCode' type='text' ng-model='zipCode' value='{{zipCode}}')
    button(type='button' ng-click='getConditions(); getForecast()') Get Conditions
  conditions
  forecast
