doctype html
html(lang="en" ng-app="aether")
  head
    meta(charset='utf-8')
    title aether - a clear skies weather app
    link(rel='stylesheet', href='assets/app.css')
    base(href="/")
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/about") About
    div(ng-controller='AppCtrl')
      h1 aether - a clear skies weather app
      div(ng-view)

    script(src='/assets/client.js')
